{% include 'Partials/header.twig' %}
{% include 'Partials/nav.twig' %}

{% for profile in profiles %}
    <img src='{{ profile.getImage.getRelativePath }}'>
    <form method="POST" action="/choice">
        <input type="submit" name="choice" value="Yes">
    </form>
{% endfor %}

{% include 'Partials/footer.twig' %}