{% include 'Partials/header.twig' %}
{% include 'Partials/nav.twig' %}


    <div class="app">
        <img src="{{ profile.getImage.getRelativePath }}" alt="{{ profile.getImage.getName }}">
    </div>
    <form class="app" method="POST" action="app">
        <input type="hidden" name="user" value="{{profile.getUser.getEmail}}">
        <input type="submit" name="choice" value="like">
        <input type="submit" name="choice" value="dislike">
    </form>


{% include 'Partials/footer.twig' %}