{% include 'Partials/header.twig' %}

<h2 class="text-lg text-center font-bold m-10">Become a Wannabe Tinder user</h2>

<form method="POST" action="/r">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="surname" placeholder="Surname">
    <br>
    <input type="email" name="email" placeholder="user@example.com">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="Register">
</form>

{% include 'Partials/footer.twig' %}