{% include 'Partials/header.twig' %}

<h2>Welcome to Wannabe Tinder!</h2>

<form method="POST" action="singIn">
    <input type="email" name="email" placeholder="user@example.com">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sing in" id="submit">
</form>

<a class="reg" href="/register">Register</a>


{% include 'Partials/footer.twig' %}